@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: crashDisplay;
  src: url("./font/CrashDisplay/ClashDisplay-Bold.otf");
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

#root {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "crashDisplay", sans-serif;
}

.register,
.btn {
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  height: 53px;
  flex-shrink: 0;
}

.close-btn,
.back-btn {
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}

#navbar {
  transition: all 0.4s ease;
}

#navbar.show {
  top: 0px;
  right: 0px;
}

nav li > a {
  transition: all 0.3s;
}

.bg-gra {
  transition: all 0.3s;
}

nav li > a:hover,
.bg-gra:hover {
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-shadow {
  background: #8f3aff8f;
  border-radius: 50% 50% 50px 50px;
  box-shadow: 5px 10px 170px 70px #903aff;
}

.font {
  font-family: "Typo Hoop Demo", sans-serif;
}

.volkhov {
  font-family: "Volkhov", serif;
}

.voces {
  font-family: "Voces", sans-serif;
}

.count p {
  font-family: "Unica One", sans-serif;
}

.twinkle {
  animation: twinkle 6s ease infinite forwards;
}

.twinkle-fast {
  animation: twinkle 3s ease infinite forwards;
}

.twinkle-2 {
  animation: twinkle-2 10s ease infinite forwards;
  width: 8px;
  height: 10px;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.7;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0.4;
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes twinkle-2 {
  0% {
    opacity: 1;
  }
  5% {
    transform: scale(2);
  }
  15% {
    opacity: 0.6;
  }
  40% {
    opacity: 1;
    transform: scale(1.5);
  }
  65% {
    opacity: 0.3;
    transform: scale(0.7);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.hero-shadow {
  left: 0;
  top: 0;
}

.rules-shadow-top {
  left: 0;
  top: 80px;
}

.rules-shadow-bottom {
  right: 50px;
}

.criteria-shadow-top {
  top: 180px;
  left: 75px;
}

.criteria-shadow-bottom {
  right: 0;
  bottom: 300px;
}

.prizes-top {
  top: 35%;
  left: 30%;
}

.prizes-bottom {
  bottom: 18%;
  right: 0%;
}

.partners-shadow-bottom {
  right: 0;
}

.answer {
  transition: height 0.3s, opacity 0.2s, tranform 0.3s;
}

.show > .answer {
  height: fit-content;
  opacity: 1;
  transform: translateY(0);
}

/*  #110B20  */

.question-mark {
  font-family: "MADE TOMMY", sans-serif;
  font-family: "MADE TOMMY Outline", sans-serif;
}

.timeline-num {
  background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
}

.socials svg path {
  transition: all 0.3s;
}

.socials:hover svg path {
  fill: #d434fe;
}

@media (min-width: 800px) {
  .hero-shadow {
    left: 15%;
    top: 0;
    scale: 2;
  }

  .rules-shadow-top {
    left: 0;
    top: 80px;
    scale: 2;
  }

  .rules-shadow-bottom {
    right: 50px;
    scale: 2;
  }

  .criteria-shadow-top {
    top: 290px;
    scale: 1.2;
    left: 230px;
  }

  .criteria-shadow-bottom {
    right: 50px;
    bottom: 300px;
    scale: 1.2;
  }
}

@media (min-width: 1000px) {
  .rules-shadow-top {
    top: 70%;
    left: 100%;
    scale: 1;
  }

  .rules-shadow-bottom {
    left: 50%;
    top: 10%;
    translate: 00% -50%;
    scale: 1.2;
  }

  .criteria-shadow-top {
    top: 410px;
    scale: 1.2;
    left: 230px;
  }

  .criteria-shadow-bottom {
    right: 50px;
    bottom: 180px;
    scale: 1.2;
  }
}
